# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vsco

### C++ ###
# Executables
*.exe
*.out
*.app

# End of https://www.toptal.com/developers/gitignore/api/c++